@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-4 shadow p-4 rounded bg-body-tertiary border">
        <h3 class="text-center mb-4 text-body">Login to Smart Rent-it</h3>
        
        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger">@ViewBag.Error</div>
        }

        <form asp-action="Login" method="post">
            <div class="mb-3">
                <label class="form-label text-body">Email Address</label>
                <input asp-for="Email" class="form-control bg-body text-body" placeholder="admin@rentit.com" required />
            </div>
            <div class="mb-3">
                <label class="form-label text-body">Password</label>
                <input asp-for="Password" type="password" class="form-control bg-body text-body" placeholder="********" required />
            </div>
            <button type="submit" class="btn btn-primary w-100 shadow-sm">Login Now</button>
        </form>

        <div class="mt-3 text-center">
            <p class="text-body-secondary">
                Don't have an account?
                <a asp-action="Register" asp-controller="Account" class="text-primary text-decoration-none fw-bold">Sign Up</a>
            </p>
        </div>
    </div>
</div>